@font-face {
    font-family: 'pt_sansregular';
    src: asset-url('PTS55F-webfont.eot');
    src: asset-url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('PTS55F-webfont.woff') format('woff'),
         asset-url('PTS55F-webfont.ttf') format('truetype'),
         asset-url('PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'mint';
  src: asset-url('mint.eot');
  src: asset-url('mint.eot') format('embedded-opentype'),
    asset-url('mint.woff') format('woff'),
    asset-url('mint.ttf') format('truetype'),
    asset-url('mint.svg#mint') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mint-"], [class*=" mint-"] {
  font-family: 'mint';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mint-uxui:before           { content: "\e62f" }
.mint-pirate:before         { content: "\e62e" }
.mint-latex:before          { content: "\e62d" }
.mint-angularjs:before      { content: "\e60b" }
.mint-backbone:before       { content: "\e60c" }
.mint-codeigniter:before    { content: "\e60d" }
.mint-coffeescript:before   { content: "\e60e" }
.mint-compass:before        { content: "\e60f" }
.mint-css:before            { content: "\e610" }
.mint-debian:before         { content: "\e611" }
.mint-django:before         { content: "\e612" }
.mint-git:before            { content: "\e613" }
.mint-github:before         { content: "\e614" }
.mint-heroku:before         { content: "\e615" }
.mint-html5:before          { content: "\e616" }
.mint-illustrator:before    { content: "\e617" }
.mint-indesign:before       { content: "\e618" }
.mint-java:before           { content: "\e619" }
.mint-javascript:before     { content: "\e61a" }
.mint-jquery:before         { content: "\e61b" }
.mint-laravel:before        { content: "\e61c" }
.mint-magento:before        { content: "\e61d" }
.mint-mongodb:before        { content: "\e61e" }
.mint-mysql:before          { content: "\e61f" }
.mint-nodejs:before         { content: "\e620" }
.mint-photoshop:before      { content: "\e621" }
.mint-php:before            { content: "\e622" }
.mint-python:before         { content: "\e623" }
.mint-rails:before          { content: "\e624" }
.mint-raspberry:before      { content: "\e625" }
.mint-redis:before          { content: "\e626" }
.mint-ruby:before           { content: "\e627" }
.mint-sinatra:before        { content: "\e628" }
.mint-symfony:before        { content: "\e629" }
.mint-ubuntu:before         { content: "\e62a" }
.mint-visual-studio:before  { content: "\e62b" }
.mint-zend:before           { content: "\e62c" }
.mint-bitbucket:before      { content: "\f171" }
.mint-ra:before             { content: "\f1d0" }
.mint-rebel:before          { content: "\f1d0" }
.mint-empire:before         { content: "\f1d1" }
.mint-ge:before             { content: "\f1d1" }
.mint-number:before         { content: "\e600" }
.mint-number2:before        { content: "\e601" }
.mint-number3:before        { content: "\e602" }
.mint-number4:before        { content: "\e603" }
.mint-number5:before        { content: "\e604" }
.mint-bnumber1:before       { content: "\e605" }
.mint-bnumber2:before       { content: "\e606" }
.mint-bnumber3:before       { content: "\e607" }
.mint-bnumber4:before       { content: "\e608" }
.mint-bnumber5:before       { content: "\e609" }
.mint-medal:before          { content: "\e60a" }
.mint-images:before         { content: "\e90e" }
.mint-film:before           { content: "\e913" }
.mint-forward:before        { content: "\e969" }
.mint-download:before       { content: "\e9c5" }
.mint-upload:before         { content: "\e9c6" }
.mint-earth:before          { content: "\e9ca" }
.mint-attachment:before     { content: "\e9cd" }
.mint-star-empty:before     { content: "\e9d7" }
.mint-star-half:before      { content: "\e9d8" }
.mint-star-full:before      { content: "\e9d9" }
.mint-gplus:before          { content: "\ea89" }
.mint-facebook:before       { content: "\ea8d" }
.mint-twitter:before        { content: "\ea91" }
.mint-feed3:before          { content: "\ea95" }
.mint-wordpress:before      { content: "\eab6" }
.mint-linux:before          { content: "\eabe" }
.mint-apple:before          { content: "\eabf" }
.mint-windows8:before       { content: "\eac3" }
.mint-skype:before          { content: "\eac6" }
.mint-linkedin:before       { content: "\eac8" }
.mint-browser:before        { content: "\f0c5" }
.mint-calendar:before       { content: "\f068" }
.mint-project:before        { content: "\f0d6" }
.mint-comment:before        { content: "\f04f" }
.mint-dashboard:before      { content: "\f07d" }
.mint-database:before       { content: "\f096" }
.mint-eye:before            { content: "\f04e" }
.mint-file-directory:before { content: "\f016" }
.mint-file-text:before      { content: "\f011" }
.mint-key:before            { content: "\f049" }
.mint-light-bulb:before     { content: "\f000" }
.mint-location:before       { content: "\f060" }
.mint-forum:before          { content: "\f077" }
.mint-mention:before        { content: "\f0be" }
.mint-study:before          { content: "\f0d7" }
.mint-pencil:before         { content: "\f058" }
.mint-podium:before         { content: "\f0af" }
.mint-repo:before           { content: "\f001" }
.mint-terminal:before       { content: "\f0c8" }
.mint-cross:before          { content: "\f081" }
