#githubers-commits {

  .commit {
    padding: 10px 0;
    border-bottom: 1px solid #CCC;

    h3 { font-size: 0.9em; margin-top: -5px; }
    p { margin-top: -5px; }
    img { width: 55px }

    .merge { color: #FB933A }
    .type { color: #049F51 }
    .footer-id { color: #014E75; font-weight: bold }
  }
}
