#bg-top {

  background: asset-url('mint.jpg') no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  #top-navbar {
    height: 42px;

    .top-nav-pills > li {
      float: left;
      margin-right: 5px;
      list-style: none;

      &.active > a { }
      &.active, &.active > a { background-color: #FFF }

      a {
        text-transform: capitalize;
        display: block;
        border: medium none;
        color: #222;
        font-weight: bold;
        font-size: 1em;
        letter-spacing: 0.12em;
        line-height: 20px;
        padding: 11px 18px;
        margin-left: -6px;

        &:hover { background-color: #EFF7F2 }
      }
    }
  }
}

header {
  height: 100px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  position: relative;
  z-index: 2;

  img {
    max-height: 85px;
    margin-top: -12px
  }
}


footer {
  margin-top: 50px;
  box-shadow: 0 -2px 3px -1px rgba(0, 0, 0, 0.25);
  padding-top: 20px;

  h3 { font-size: 1.2em; font-weight: normal }

  h4 { font-size: 1.1em; font-weight: normal }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      list-style-type: none;
      padding: 3px 0;
      line-height: 1.1em;

      a {
        font-size: 1em;
        font-weight: normal;
        color: #666
      }
    }
  }


  #follows {

    .item {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 20px 0;

      a { font-size: 2.2em }
    }
  }

  #bottom-line {
    background-color: #EFEFEF;
    border-bottom: 4px solid #CCC;
    height: 56px;

    p {
      padding: 10px 4px;

      em { color: #888 }
    }
  }


  .tweets{

    margin-bottom: 30px !important;

    h4{
      font-size: 1.2em;
      margin: 0;
    }

    p{
      em { color: #AAA }
    }
  }
}
