// About page
#static-about{

  h2 { font-size: 1.7em }

  a { text-decoration: underline }

  button {
    border-radius: 5px;
    border-bottom: 5px solid #C63C1B;

    a {
      color: #FFF;
      text-decoration: none;

      &:hover { color:#fff }
    }

    &:hover { border-bottom: 5px solid #e45735 }
  }
}

// Level page
#static-level {

  .row { margin-bottom: 10px }

  .label {
    font-size: 1.2em;
    margin:0 4px;
    border-radius: 4px;
    color:#FFF;
    padding: 1px 5px 2px 5px;
  }

  .begin { background-color:#00a89d }
  .easy { background-color:#fb933a }
  .medium { background-color:#f65735 }
  .hard { background-color:#db2525 }
  .expert { background-color:#014e75 }
}
