#static-about{

  h2 { font-size: 1.7em }

  p { line-height:1.3em; font-size: 0.9em; color: #888 }

  a { text-decoration: underline }

  button {
    border-radius: 5px;
    border-bottom: 5px solid #C63C1B;

    a {
      color: #FFF;
      text-decoration: none;

      &:hover { color:#fff }
    }

    &:hover { border-bottom: 5px solid #e45735 }
  }
}
