// Home page
#static-index {

  h2, h3 {
    font-weight: normal;
    color: #013D1E;
  }

  .row{
    margin-top: 5px;

    .columns {

      #screencasts-line {

        .columns {

          h1, h2 {
            text-align: center;
            font-size: 1.7em;
            font-weight: normal;
            margin-top: 25px;
          }

          p { margin-top: 5px }

          .img_home{
            display: block;
            margin: 0 auto;
            width: 120px;
          }
        }
      }
    }

    &.spaces {
      margin-top: 50px;

      .list {
        padding-bottom: 15px;

        .tutorial-post {

          .row {
            position: relative;

            .info-line {
              margin-top: 111px;
              height: 43px;
              background-color: #EFEFEF;
              border-bottom: 4px solid #CCC;
              top: 20px;

              .row {

                .small-8 {
                  margin-top: -29px;

                  .item, .right {
                    display: inline-block; vertical-align: top;
                  }

                  .item { margin: 1px 20px 0 0 }

                  .right {
                    float: right;
                    margin: 1px 10px 0 0;
                  }

                  .ico { font-size: 1.5em }

                  .counter, .duration {
                    margin-left: 4px;
                    border-radius: 4px;
                  }

                  .counter {
                    color: #FFF;
                    padding: 1px 5px 2px 5px;
                  }

                  .duration {
                    padding: 2px 5px 2px 5px;
                    background-color: #FFF;
                    color: #333;
                  }
                }
              }
            }

            h3{
              font-weight: normal;
              color: #013D1E;
            }

            img{
              margin-top: 10px;
              max-width: 150px;
            }
          }
        }
      }
    }
  }

  .bar { padding: 5px 0 0 0 }

  .line {
    height: 45px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    background-color: #F8F8F8;

    .square {
      display: inline-block; vertical-align: top;
      width: 60px; height: 44px;
      padding-top: 8px;
      margin-left: -1px;
      border-left: 1px solid #CCC;
      border-right: 1px solid #CCC;

      a { display: block }

      span {
        display: block;
        font-size: 2em;
        text-align: center;
      }

      &:hover {
        background-color: #FFF;
        height: 43px;
      }
    }
  }

  .light {
    padding-bottom: 30px;

    h3 {
      color: #d2d2d2 !important;
      font-weight: normal
    }

    h2 { font-size: 2.5em !important }
  }

  .image {
    background: asset-url('mint.jpg') no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    height: 240px;
  }

  .about {
    margin: 50px 0 0 0;

    h3 {
      color: #013D1E;
      font-size: 2em;
      font-weight: normal;
      text-align: center;
      margin: 18px 0 15px 0;
    }

    .circular {
      position: relative;

      canvas {
        background-color: rgba(220,254,230,0.8);
        border-radius: 60px;
        display: block;
        margin: 0 auto;
      }

      strong {
        z-index: 2;
        position: relative;
        margin-top: -68px;
        font-size: 2.4em;
        font-weight: normal;
        display: block;
        text-align: center;

        i {
          font-size: 0.7em;
          font-style: normal;
        }
      }
    }
  }
}

// About page
#static-about{

  h2 { font-size: 1.7em }

  a { text-decoration: underline }

  button {
    border-radius: 5px;
    border-bottom: 5px solid #C63C1B;

    a {
      color: #FFF;
      text-decoration: none;

      &:hover { color: #fff }
    }

    &:hover { border-bottom: 5px solid #e45735 }
  }
}

// Level page
#static-level {

  .row { margin-bottom: 10px }

  .label { margin: 0 4px }

  .begin  { background-color: #00a89d }
  .easy   { background-color: #fb933a }
  .medium { background-color: #f65735 }
  .hard   { background-color: #db2525 }
  .expert { background-color: #014e75 }
}

// Contributor page
#static-contributor {

  h2 {
    font-size: 1.4em;
    line-height: 1em;
    margin-top: -2px;

    a {

    }
  }

  .row { margin-bottom: 10px }

  .label { margin: 2px 4px 0 0 }

  .tag { background-color: #0B482B }
}
